asgiref==3.8.1
backports.zoneinfo==0.2.1
blinker==1.8.2
click==8.1.8
colorama==0.4.6
Django==4.2.19
flask==3.0.3
Flask-MySQL==1.6.0
flask-wtf==1.2.1
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.5
MarkupSafe==2.1.5
PyMySQL==1.1.1
sqlparse==0.5.3
typing-extensions==4.12.2
tzdata==2025.1
werkzeug==3.0.6
wtforms==3.1.2
zipp==3.20.2
